.filter{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 800px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 10px;
    border: 1px solid black;

}