.filter {
    width: 375px;
    margin-bottom: 25px;
}

.mealTime {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 33px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mealTime p{
    margin-right: 5px;
}
.mealTimeButton{
    background-color: transparent;
    border: 0;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline dotted;
    cursor: pointer;
}


.mealType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mealTypeButton {
    background-color: transparent;
    width: 113px;
    height: 34px;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
}
.mealTypeButton:hover {
    color: white;
    background: black;
    border-radius: 25px;

}

.mealTypeButtonActive {
    width: 113px;
    height: 34px;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
    color: white;
    background: black;

}
