.filter{
    display: flex;
    flex-direction: column;
    width: 558px;
    height: 132px;
    justify-content: space-between;

}
.mealTime{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}
.mealTime a{
    width: 113px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mealTime a:hover {
    color: white;
    background: black;
    border-radius: 25px;

}
.mealType{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.mealType svg:hover{

    border-radius: 25px;
    border: 1px solid black;
}