.main{
    border: 1px solid black;

    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 80%;
    width: 400px;

}

.navBar{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 44px;

}