.main {
    border-radius: 20px;
    width: 631px;
    background-color: white;
}

.dishImg {
    border-radius: 7px;
    background-color: lightgrey;
    width: 157px;
    height: 157px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 30%;
    margin-right: 22px;
}

.dish {
    background-color: transparent;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 43px 43px 27px 43px;
}
.dishDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.dishDescription h1 {
    background-color: transparent;
    margin: 0 0 17px 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dishDescription p {
    width: 393px;
    background-color: transparent;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 43px 43px 43px;
}
.info a {
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 29px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-decoration-line: underline;
}

.info button {
    cursor: pointer;
    margin: auto;
    background-color: black;
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 70px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 121.687%; /* 24.337px */
}


.dishOrderAddresses {
    background-color: transparent;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 42px 20px 42px;
}

.restaurantName {
    display: flex;
    align-items: center;
    background-color: transparent;

    margin-bottom: 10px;

}

.dishOrderAddresses h1 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    margin: 0 10px 0 0 ;
}

.dishOrderAddresses h2 {
    color: #595959;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    background-color: transparent;
}

.dishOrderAddresses p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.dishReceipt {
    background: transparent;
    padding: 70px;
}

.dishReceipt h1 {
    padding: 0 0 50px 0;
    background: transparent;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dishReceipt h2 {
    padding: 50px 0 50px 0;
    background: transparent;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dishReceipt p {
    background: transparent;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;;
}


