.myModal {
    position: absolute;
    top: 530px;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}