.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightskyblue;
    margin-bottom: 50px;
}
.navbar_main{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}