.navbar{
    height: 61px;
    width: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 6px auto;

}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Pacifico;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 13px 0 13px;
}
/* временный фикс из-за материала*/
button{
    margin: 0 !important;
    padding: 0 !important;
}

@media screen and (max-width: 400px) {

}