.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'Caveat Brush', cursive;
    font-size: 87px;
    line-height: 110px;
    color: white;
}
.navbar_main{
    /*display: flex;*/
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/

}
p {
    background-color: white;
}